:root {
}

.base {
    flex-grow: 1;
    background-image: url("project://database/Assets/Textures/%E5%B7%9D%E8%83%8C%E6%99%AF.png?fileID=2800000&guid=3b4029759ce30bf43af2ea92a076460a&type=3#川背景");
}

.naming-text-field {
    flex-grow: 0;
    flex-direction: row;
    position: absolute;
    flex-shrink: 0;
    width: 40%;
    height: 10%;
    top: 60%;
    left: 30%;
    background-color: rgb(230, 230, 230);
}

.naming-text-field > TextField {
    flex-direction: row;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 40px;
    width: 85%;
}

.naming-text-field > Button {
    flex-grow: 1;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    background-color: rgb(188, 188, 188);
}

.naming-text-field > Button:hover {
    scale: 1.03 1.03;
    background-color: rgb(201, 201, 201);
}

.naming-text-field > Button:active {
    scale: 0.96 0.96;
    background-color: rgb(141, 141, 141);
}
