.female-illustration_base {
    flex-grow: 0;
    position: absolute;
    flex-shrink: 0;
}

.female-illustration_eyebrow {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.female-illustration_hair-line {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.female-illustration_hair-paint {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.female-illustration_eye-line {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.female-illustration_eye-paint {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.female-illustration_mouth {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.female-illustration_body-base {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.female-illustration_body-paint {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.female-illust_big{
    scale: 1.1 1.1;
}
.female-illust_small{
    scale:0.9 0.9
}